@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
                <h2><strong>Contact Info</strong></h2>
                <span class="subheading">
                    <strong>Email:</strong> <a href="mailto:@ViewData["EMail"]"> @ViewData["EMail"]</a><br />
                    <strong>Phone Number: </strong> @ViewData["Phone"]<br />
                </span>
            </div>
        </div>
    </div>
</div>


